.list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.items {
    margin-right: 10px;
    border-radius: 50%;
}

.item p {
    margin: 0;
}

.online {
    color: green;
}

.offline {
    color: red;
}