.history {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.historys,
.transaction {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.item {
    background-color: #f2f2f2;
}